@model List<QuizInfo>
@{
    ViewData["Title"] = "مدیریت آزمون ها";
    Layout = "_MainLayout";
}

<div class="row ">
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-6">
                <div class="expanel expanel-primary" disabled>
                    <div class="expanel-heading">
                        <h3 class="expanel-title">مدیریت سوالات</h3>
                    </div>
                    <div class="expanel-body">
                        <div class="row">
                            <div class="custom-controls-stacked col-md-6 col-xl-6">
                                <label class="custom-control custom-radio-md">
                                    <input type="radio" class="custom-control-input" name="questionmanagment" value="question-update" onclick="SelectQuestionAddOrUpdate()">
                                    <span class="custom-control-label">ویرایش سوالات</span>
                                </label>
                            </div>
                            <div class="custom-controls-stacked col-md-6 col-xl-6">
                                <label class="custom-control custom-radio-md">
                                    <input type="radio" class="custom-control-input" name="questionmanagment" value="question-add" onclick="SelectQuestionAddOrUpdate()">
                                    <span class="custom-control-label">سوال جدید</span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="btn-group mt-2 mb-2">
                                <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                    Large Dropdown
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0)">آزمون 1</a></li>
                                    <li><a href="javascript:void(0)">آزمون 2</a></li>
                                    <li><a href="javascript:void(0)">آزمون 3</a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:void(0)">Separated link</a></li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-lg-12" id="new-question-panel" style="display: none;">
                                    <div class="expanel expanel-default">
                                        <div class="expanel-heading">
                                            <h3 class="expanel-title" id="new-question-title"></h3>
                                        </div>
                                        <div class="expanel-body">
                                            <div class="card-body pb-2">
                                                <form class="needs-validation was-validated">
                                                    <div class="row row-sm">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <textarea class="form-control mb-4 is-invalid state-invalid" placeholder="متن سوال را وارد کنید . . ." required="" rows="3"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="expanel expanel-secondary">
                    <div class="expanel-heading">
                        <h3 class="expanel-title">ایجاد ازمون جدید</h3>
                    </div>
                    <div class="expanel-body">
                        <div class="row">
                            <div class="custom-controls-stacked col-md-6 col-xl-6">
                                <label class="custom-control custom-radio-md">
                                    <input type="radio" class="custom-control-input" name="quizmanagment" value="quiz-update" onclick="SelectQuizAddOrUpdate()">
                                    <span class="custom-control-label">ویرایش آزمون</span>
                                </label>
                            </div>
                            <div class="custom-controls-stacked col-md-6 col-xl-6">
                                <label class="custom-control custom-radio-md">
                                    <input type="radio" class="custom-control-input" name="quizmanagment" value="quiz-add" onclick="SelectQuizAddOrUpdate()">
                                    <span class="custom-control-label">ایجاد آزمون</span>
                                </label>
                            </div>
                        </div>
                        <div class="row" id="quiz-update" style="display:none">
                            <div class="card-header">
                                <h3 class="card-title">ویرایش آزمون</h3>
                            </div>
                            <div class="form-group select2-lg">
                                <label class="form-label">انتخاب آزمون</label>
                                <select id="quizSelect" class="form-control form-select form-select-lg select2">
                                    <option value="-1" selected>--انتخاب--</option>
                                    @foreach(QuizInfo quiz in Model){
                                        <option value="@quiz.ID">@quiz.QuizFarsiName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row" id="quiz-add" style="display:none">
                            <div class="card-header">
                                <h3 class="card-title" id="add-title-name">ایجاد آزمون</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">نام فارسی آزمون <span class="text-red">*</span></label>
                                            <input type="text" class="form-control" id="quizFaName" placeholder="نام فارسی آزمون">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">نام انگلیسی آزمون <span class="text-red">*</span></label>
                                            <input type="text" class="form-control" id="quizEnName" placeholder="نام انگلیسی آزمون">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">توضیحات آزمون <span class="text-red">*</span></label>
                                            <input type="text" class="form-control" placeholder="توضیحات آزمون(اختیاری)">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">نوع آزمون <span class="text-red">*</span></label>
                                            <select class="form-control form-select select2" id="quizType">
                                                <option value="-1" selected>--انتخاب--</option>
                                                @foreach (QuizTypeViewModel quizType in ViewBag.QuizTypes)
                                                {
                                                    <option value="@quizType.QuizTypeID">@quizType.QuizTypeName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">حداقل نمره <span class="text-red">*</span></label>
                                            <input type="number" class="form-control" id="quizMinScore" placeholder="حداقل نمره کسب شده برای تایید در آزمون">
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">تعداد سوالات <span class="text-red">*</span></label>
                                            <input type="number" class="form-control" id="quizNOQ" placeholder="تعداد سوالات">
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">زمان آزمون <span class="text-red">*</span></label>
                                            <input type="number" class="form-control" id="quizTime" placeholder="زمان آزمون(دقیقه)">
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4 form-group" style="padding: 42px">
                                        <label class="custom-switch form-switch mb-0">
                                            <input type="checkbox" name="custom-switch-radio" id="quizNegativeScore" class="custom-switch-input">
                                            <span class="custom-switch-indicator custom-switch-indicator-md"></span>
                                            <span class="custom-switch-description">نمره منفی</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <input type="button" class="btn btn-primary col-md-6 col-lx-6" value="ثبت" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.quizData = @Html.Raw(Json.Serialize(Model));
</script>