@using SimpleQuiz
@model List<BlogPostViewModel>
@{
    ViewData["Title"] = "پست جدید";
    Layout = "_MainLayout";
}

<!-- CONTAINER -->
<div class="main-container container-fluid">

    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Add New Post</div>
                </div>
                <div class="card-body">
                    <div class="row mb-4">
                        <label class="col-md-3 form-label">Post Title :</label>
                        <div class="">
                            <input type="text" class="form-control" value="Typing.....">
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label class="col-md-3 form-label">Categories :</label>
                        <div class="">
                            <select name="country" class="form-control form-select select2" data-bs-placeholder="Select Country">
                                <option value="br">Technology</option>
                                <option value="cz">Travel</option>
                                <option value="de">Food</option>
                                <option value="pl">Fashion</option>
                            </select>
                        </div>
                    </div>

                    <!-- Row -->
                    <div class="row">
                        <label class="col-md-3 form-label mb-4">Post Description :</label>
                        <div class="mb-4">
                            <textarea class="content" name="example"></textarea>
                        </div>
                    </div>
                    <!--End Row-->

                    <div class="form-group mb-0">
                        <label class="col-md-3 form-label mb-4">File Upload :</label>
                        <input id="demo" type="file" name="files" accept=".jpg, .png, image/jpeg, image/png" multiple>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="javascript:void(0)" class="btn btn-primary">Post</a>
                    <a href="javascript:void(0)" class="btn btn-default float-end">Discard</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">پست های اخیر</div>
                </div>
                <div class="card-body">
                    <div class="">
                        @foreach (BlogPostViewModel post in Model)
                        {
                            <div class="d-flex overflow-visible">
                                <a href="blog-details.html" class="card-aside-column br-5 cover-image" data-bs-image-src="@Url.Content(post.Pic)" style="background: url(@Url.Content(post.Pic)) center top;"></a>
                                <div class="ps-3 flex-column">
                                    <span class="badge bg-danger me-1 mb-1 mt-1">@post.CategoryFarsiName</span>
                                    <h4><a href="blog-details.html">@post.Title</a></h4>
                                    <div class="text-muted">@post.PostText.Substring(0, 100)...</div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="card-title">Professional Blog Writers</div>
                </div>
                <div class="card-body">
                    <div class="">
                        <div class="d-flex overflow-visible">
                            <img class="avatar bradius avatar-xl me-3" src="/bootstrap/assets/images/users/12.jpg" alt="avatar-img">
                            <div class="media-body valign-middle">
                                <a href="profile.html" class="fw-semibold text-dark">John Paige</a>
                                <p class="text-muted mb-0">There are many variations of passages of Lorem Ipsum available ...</p>
                            </div>
                        </div>
                        <div class="d-flex overflow-visible mt-5">
                            <img class="avatar bradius avatar-xl me-3" src="/bootstrap/assets/images/users/2.jpg" alt="avatar-img">
                            <div class="media-body valign-middle">
                                <a href="profile.html" class="fw-semibold text-dark">Peter Hill</a>
                                <p class="text-muted mb-0">There are many variations of passages of Lorem Ipsum available ...</p>
                            </div>
                        </div>
                        <div class="d-flex overflow-visible mt-5">
                            <img class="avatar bradius avatar-xl me-3" src="/bootstrap/assets/images/users/9.jpg" alt="avatar-img">
                            <div class="media-body valign-middle">
                                <a href="profile.html" class="fw-semibold text-dark">Irene Harris</a>
                                <p class="text-muted mb-0">There are many variations of passages of Lorem Ipsum available ...</p>
                            </div>
                        </div>
                        <div class="d-flex overflow-visible mt-5">
                            <img class="avatar bradius avatar-xl me-3" src="/bootstrap/assets/images/users/4.jpg" alt="avatar-img">
                            <div class="media-body valign-middle">
                                <a href="profile.html" class="fw-semibold text-dark">Harry Fisher</a>
                                <p class="text-muted mb-0">There are many variations of passages of Lorem Ipsum available ...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CONTAINER CLOSED -->