@{
    ViewData["Title"] = "آزمون";
    Layout = "_MainLayout";
}

<div class="col-lg-12">
    <div class="row">
    <div class="col-xl-6 col-md-6">
        <div class="card ribbone-card">
            <div class="arrow-ribbone-left bg-secondary">اطلاعات</div>
            <div class="card-body  p-6">
                <h6 class="card-subtitle mb-2 text-dark fw-bold text-end">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title. Some quick example text to build on the card title</p>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-6">
        <div class="card ribbone-card">
            <div class="ribbone ribbone-top-left text-primary"><span class="bg-primary">زمان آزمون</span></div>
            <div class="card-body  p-6">
                <div class="container">
                    <section id="timer" dir="ltr">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 countdown-wrapper text-center mb20">
                                <div class="card-block">
                                    <div id="countdown">
                                        <div class="well">
                                            <span id="hour" class="timer bg-success"></span>
                                            <span id="min" class="timer bg-info"></span>
                                            <span id="sec" class="timer bg-primary"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="expanel expanel-secondary">
        <div class="expanel-heading">
            <h3 class="expanel-title">سوالات </h3>
        </div>
        <div class="expanel-body">
            <div class="table-responsive">
                <table class="table border text-nowrap text-md-nowrap mb-0" id="quiz">
                    <tbody>
                        @foreach (QuestionsViewModel question in ViewBag.Questions)
                        {
                            int q = @question.QuestionNumber;
                            string name = "question" + q;
                            <tr>
                                <td name="@name">@question.QuestionNumber- @question.Questions</td>
                            </tr>
                            int r = 1;
                            <tr>
                                <td colspan="4">
                                    <table class="table border text-nowrap text-md-nowrap  mb-0">
                                        <tbody>
                                            @foreach (ResponsesViewModel response in ViewBag.Responses)
                                            {
                                                if (response.QuestionID == question.QuestionNumber)
                                                {
                                                    string id = "q" + q + "o" + r;
                                                    <tr>
                                                        <td>
                                                            <label class="custom-control custom-radio-md">
                                                                <input type="radio" class="custom-control-input" name="@name" id="@id" value="@r">
                                                                <span class="custom-control-label">@response.Questions</span>
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    r++;
                                                }
                                            }
                                            
                                        </tbody>
                                    </table>
                                </td>
                            </tr>                           
                        }
                    </tbody>
                </table>
            </div>
            <div style="padding:10px">

            </div>
            <div class="col mb-2">
                <div class="btn-list">
                    <button type="button" class="btn btn-primary mb-1" onclick="getCheckedOptions()">ثبت آزمون</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="expanel expanel-success">
        <div class="expanel-heading">
            <h3 class="expanel-title">نتیجه آزمون</h3>
        </div>
        <div class="expanel-body">
            <div class="card-body">
                <p>Use contextual classes to color tables, table rows or individual cells.</p>
                <div class="table-responsive">
                    <table class="table border text-nowrap text-md-nowrap mb-0">
                        <thead>
                            <tr>
                                <th>سوال</th>
                                <th>پاسخ صحیح</th>
                                <th>پاسخ شما</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-default">
                                <td>1</td>
                                <td>Joan Powell</td>
                                <td>Associate Developer</td>
                            </tr>                         
                            <tr class="table-success">
                                <td>4</td>
                                <td>Julian Kerr</td>
                                <td>Senior Javascript Developer</td>
                            </tr>
                            <tr class="table-danger">
                                <td>5</td>
                                <td>Cedric Kelly</td>
                                <td>Accountant</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>